
* {
    max-width: 1200px;
    margin:0px auto;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 2px; */
    
   
}
/* Header*/
.navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.header-title{
            display: flex;
            align-items: center;
            margin-left: -12px;
}
.header-title h3{
    color: #131318;

font-size: 36px;

font-weight: 800;

}
.header-sections{
        display: flex;
        margin-right: -23px;
      
}
.header-sections ul{
    margin-right: 25px;
}
.header-sections ul a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.header-sections i{
   visibility: hidden;
}
.home{
    color: #FF5400;
}
.travel{
    color: #FF5400;

font-size: 36px;

font-weight: 800;

}
/*  */
/* Banner sction */
.banner{
   background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.banner-inputs{

padding: 16px;

gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin-top: 50px;
}
.banner-inputs select{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    margin: 0 24px;
    border: none;
    
}
.banner-inputs select option{
    color: rgba(19, 19, 24, 0.50);
text-align: center;
font-family: Mulish;
font-size: 16px;;
font-weight: 400;

}

.btn{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;

color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;

}
.banner-titles h1{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
text-align: center;

}
.banner-titles p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
 width: 665px;
 margin-top: 30px;
}
.popular-tours{
    display: flex;
   margin-top: 90px;
   gap: 100px;
}
.popular-tours h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
  
}
.popular-tours ul li{
    color: rgba(19, 19, 24, 0.70);

font-size: 16px;
margin-top: 30px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.popular-tours p{
    color: #5A5A5D;

font-size: 16px;

font-weight: 400;
line-height: 26px; /* 162.5% */
}
.popular-btn{
    width: 174px;
height: 52px;
color: #FFF;
border-radius: 8px;
background: #FF5400;
border: none;
margin-top: 25px;
}


















/* Rensponsive */
@media screen and (max-width:556px) {
   * {
    max-width: 335px;
    margin:0px auto;
    padding: 0;
    box-sizing: border-box;
   }
   .header-sections ul a{
    display: none;
   }
   .header-sections i{
    margin-right: 40px;
    visibility: visible;
   }
   .banner-titles h1{
    height: 50px;
    font-size: 22px;
    margin-top: 50px;
    width: 205px;
   }
   .banner-titles p{
    width: 300px;
    font-size: 14px;
   }
   .banner-inputs{
    display: flex;
width: 287px;
flex-direction: column;
align-items: flex-start;
justify-content: center;

   }
   .banner-inputs select{
    width: 200px;
    height: 40px;
    margin: 0 auto;

   }
   .banner-inputs .btn{
    width: 205px;
height: 42px;
margin-bottom: 10px;
   }
    
   
   .popular-tours{
    flex-direction: column;
    width: 335px;
   }
   .popular-tours .popular-title{
    width: 300px;
   }
   
  
}